@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Merriweather:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

/*---  header section  ---- */
.banner {
  max-width: 1340px;
  min-height: 400px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.904),
      rgba(206, 198, 204, 0)
    ),
    url("/resources/Banner\ Image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 41px 110px 0;
  border-radius: 10px;
}
/* .banner .banner-content{
    width: 450px;
    height: 100%;
    margin: 0 auto;
    padding-top: 135px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: white;
} */
.banner-content h4 {
  font-size: 20px;
  font-weight: 100px;
  margin-bottom: 20px;
  font-family: "Merriweather", serif;
  color: white;
  text-align: center;
}
.banner-content h1 {
  font-size: 49px;
  font-weight: 800px;
  padding-bottom: 12px;
  font-family: "Merriweather", serif;
  color: white;
}
.banner-content-heading {
  max-height: 150px;
  max-width: 490px;
  text-align: center;
  margin: 0 auto;
  padding-top: 110px;
}
/* ---offer section--- */
.offer-continer {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 70px;
}
.offer-continer > h1 {
  color: #ff0000;
  font-size: 55px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.offer-content {
  margin-top: 25px;
}
.offer-content > h4 {
  color: #ff0000;
  font-family: "Inter", sans-serif;
  font-weight: 700px;
  margin-bottom: 16px;
}
.offer-content > h3 {
  color: #070211;
  font-size: 33px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 50px;
}
.offer-img img {
  max-width: 540px;
  height: 100%;
}
/* ---welcome section */
.welcome-banner {
  max-width: 1340px;
  min-height: 400px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.952),
      rgba(206, 198, 204, 0)
    ),
    url("/resources/Vectorrr.png");
  background-size: cover;
  background-position: center;
  margin: 50px 110px 30px;
  border-radius: 10px;
}
.welcome-banner .wecome-all {
  display: flex;
  align-items: center;
  padding: 70px 70px 0;
}
.welcome-banner-img img {
  width: 180px;
  height: 280px;
}
.welcome-banner-content {
  max-width: 560px;
}
.welcome-banner-content h2 {
  color: white;
  font-size: 45px;
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 7.04px;
  margin-bottom: 18px;
}
.welcome-banner-content-discription p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  line-height: 20px;
  margin-bottom: 30px;
}
.welcome-banner-content > button {
  background-color: #e9e9e900;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
}
.welcome-banner-content > button:hover {
  border: 1px solid wheat;
}
/* ---address section--- */
.address {
  text-align: center;
  max-width: 1340px;
  min-height: 350px;
  background-image: linear-gradient(
    to bottom,
    rgba(240, 152, 193, 0.952),
    rgba(206, 198, 204, 0)
  );
  margin: 100px 110px 30px;
  border-radius: 10px;
}
.address-detail {
  font-size: 24px;
  font-family: "Inter";
  font-weight: 600;
  line-height: 40px;
  padding-top: 85px;
}
.address-detail span {
  color: #ff0000;
}
.address button {
  color: white;
  background-color: #ff0000;
  font-size: 17px;
  font-family: "Inter";
  font-weight: 700;
  border: none;
  border-radius: 10px;
  padding: 12px 26px;
  margin-top: 30px;
}

/* ----footer section---- */
.footer-container {
  width: 100%;
  height: 380px;
  background-color: #070211;
  margin-top: 100px;
}
.footer-uper {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 16px;
  font-family: 'Inter',sans-serif;
  font-weight: 300;
  line-height: 20px;
  padding: 80px 90px 10px;
}
hr{
  border: 1px solid rgba(89, 94, 136, 0.63);
}
.footer-icon{
  text-align: center;
  font-size: 10px;
}
.footer-icon img{
  margin-right: 20px;
  padding: 20px 0;
}
.footer-last{
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: 'Inter',sans-serif;
  padding: 30px 90px;
}